{%  extends 'app1/base.html' %}
<!-- {% load static from staticfiles %} -->


{% block linkscript %}
    <!-- <script src='{% static 'app1/js/chaoyang.js'%}'></script> -->
    
{% endblock linkscript %}

{% block base %}
<h1>朝阳区2018—2020年资源整合实施方案</h1>
<p>     按照《朝阳区义务教育学区化综合改革资源整合总体方案》，到2020年义务教育优质资源100%全覆盖的总目标，形成资源布局更加合理，管理手段更加科学，机制运行更加高效，学校特色更加鲜明，队伍素质和能力得以提升，教育教学质量不断提高，区域教育发展水平更加均衡，校级之间、区域之间、城乡之间差距明显缩小，特制定《朝阳区2018—2020年资源整合实施方案》。</p>

<p>一、指导思想
    以习近平新时代中国特色社会主义思想为统领，以全国教育大会精神为行动纲领，不断解放思想、开拓进取、改革创新，深入推进区域教育综合改革，通过优质引领辐射带动，进一步提升区域义务教育优质均衡水平，实现朝阳区义务教育优质均衡发展的既定目标。</p>
    <p>
    二、工作原则
    （一）促进均衡原则。解决基础教育存在的区域不均衡、城乡不均衡和校际不均衡，引导市区级名校向一般（薄弱）学校输出优质资源，带动一般（薄弱）学校办学水平全面提升。
    （二）统筹规划原则。结合全区义务教育资源分布，重新规划各区域教育资源配置，统筹优质教育资源，形成市区级示范学校为龙头，中小学相互衔接板块组团式教育格局。
    （三）分步实施原则。根据优质教育资源分布和影响义务教育均衡差异系数情况，发挥市区级示范学校引领作用，分年度，分阶段、分步骤有序推进实施。</p>
    <p>
    三、工作内容</p>
    <p>
    （一）望京学区
    1．将朝阳师范学校附属小学（望京校区）并入陈经纶中学分校，将原朝阳师范学校附属小学（望京校区）招生服务范围划入陈经纶中学分校。2019年
    2.将首都师范大学附属实验学校（西园校区）并入北京师范大学三帆中学朝阳学校，将原首都师范大学附属实验学校（西园校区）招生服务范围划入北京师范大学三帆中学朝阳学校。2019年
    3.将望京实验学校并入陈经纶中学分校，为同一法人单位，撤销望京实验学校建制，原望京实验学校招生服务范围不变。2019年
    4.将世青国际学校从对外经济贸易大学附属中学（初中部）迁出。2019年</p>
    <p>
    （二）幸福村学区
    5.将体育场路中学在岗在编教师和学生并入三里屯一中，招生服务范围划入三里屯一中；将校舍、设备设施及离退休干部教师并入朝阳区实验小学，撤销体育场路中学建制。2018年
    6.将三里屯一中并入八十中学，为独立法人单位，更名为八十中学三里屯实验学校，原三里屯一中招生服务范围不变。2020年
    7.将三里屯小学并入朝阳区实验小学，为独立法人单位，更名为朝阳区实验小学三里屯分校，原三里屯小学招生服务范围不变。2020年 
    8.将新源里四小并入朝阳区实验小学，为独立法人单位，更名为朝阳区实验小学顺源分校，原新源里四小招生服务范围不变。2019年
    9.将黄胄艺术实验小学并入朝阳师范学校附属小学，为独立法人单位，更名为朝阳师范学校附属小学黄胄艺术分校，原黄胄艺术实验小学招生服务范围不变。2019年</p>
    <p>
    （三）和平街学区
    暂时不调整 </p>
    <p>
    （四）定福庄学区
    10.将双桥二小并入朝阳区第二实验小学，撤销双桥二小建制，原双桥二小招生服务范围不变。2019年
    11.将高碑店中心小学并入十七中，撤销高碑店中心小学建制，原高碑店中心小学招生服务范围不变。2019年
    12.将半壁店小学并入十七中，撤销半壁店小学建制，原半壁店小学招生服务范围不变。2019年
    13.将兴隆小学更名为中国传媒大学附属第二小学，原兴隆小学招生服务范围不变。2019年</p>
    <p>
    （五）东坝学区
    14.将楼梓庄中学并入东北师范大学附属中学朝阳学校，为独立法人单位，更名为东北师大附属中学朝阳学校分校，原楼梓庄中学招生服务范围不变。2019年
    15.金盏学校与首都师范大学开展合作办学，更名为首都师范大学金盏学校，纳入示范校创建。2019年
    16.将九十七中并入润丰学校，撤销九十七中学建制，原九十七中招生服务范围不变，学校继续在现址借址办学。2018年
    17.八十中学体育运动学校在楼梓庄中学借址办学。
    18.将北马各庄小学并入楼梓庄小学，与首都师范大学开展合作办学，更名为首都师范大学朝阳小学，撤销北马各庄小学建制，北马各庄小学招生服务范围不变。2019年
    19.将平房小学并入国美家园小学，为独立法人单位，更名为国美家园小学分校，原平房小学招生服务范围不变。2019年
    20.将朝阳区实验小学罗马嘉园分校并入润丰学校，撤销朝阳区实验小学罗马嘉园分校建制，原朝阳区实验小学罗马嘉园分校招生服务范围划入润丰学校。2020年</p>
    <p>
    （六）劲松学区
    21.将劲松一中更名为北京工业大学附属中学劲松分校，为独立法人单位，原劲松一中招生服务范围不变。2019年
    22.将安华学校职高部迁入朝阳区职业技术学校广渠门校址办学。2019年
    23.劲松六中更名为劲松学校，增设小学教育，承担专门教育和特殊教育任务。2019年
    24.将劲松三小并入劲松四小，为同一法人单位，撤销劲松三小建制，更名为北京工业大学附属小学，原劲松三小、劲松四小招生服务范围划为北京工业大学附属小学。2019年</p>
    <p>
    （七）酒仙桥学区
    25. 将高家园中学并入中央美术学院附属实验学校，撤销高家园中学建制，原高家园中学招生服务范围不变。2018年
    26．将高家园小学并入中央美术学院附属实验学校，撤销高家园小学建制，原高家园小学招生服务范围不变。2019年
    27．将将台路小并入中央美术学院附属实验学校，撤销将台路小学建制，原将台路小学招生服务范围不变。2019年
    28.将酒仙桥第二小学并入酒仙桥中心小学，更名为朝阳区教育研究中心附属小学，原酒仙桥第二小学招生服务范围不变。2019年</p>
    <p>
    （八）崔各庄学区
    29.将上辛堡小学并入芳草地国际学校，更名为芳草地国际学校上辛堡分校，原上辛堡小学招生服务范围不变。2020年
    30.实施奶子房小学分流安置，借址芳草地国际学校东洲校区办学，奶子房小学停止招生。2019年
    31.实施奶子房中学分流安置，奶子房中学停止招生。2019年
    32.将苇沟小学与北皋中心小学整合，整合后并入陈经纶中学分校，为独立法人单位，更名为陈经纶中学分校北皋小学，撤销苇沟小学建制，原苇沟小学招生服务范围划入陈经纶中学分校北皋小学。2019年</p>
    <p>
    （九）呼家楼学区
    33.将呼家楼中学与团结湖三中整合，并入陈经纶中学，为独立法人单位，更名为陈经纶中学团结湖分校，撤销呼家楼中学建制，原呼家楼中学招生服务范围划入陈经伦中学团结湖分校。 2018年
    34.将团结湖二小与团结湖小学整合，并入呼家楼中心小学，为独立法人单位，更名为呼家楼中心小学团结湖分校，撤销团结湖二小建制，原团结湖小学、团结湖二小招生服务范围划入呼家楼中心小学团结湖分校。 2019年</p>
    <p>
    （十）黑庄户学区
    35. 将黑庄户中心小学、定辛庄小学、万子营民族小学与黑庄户中学整合，为九年一贯制学校，并入十七中，为独立法人单位，更名为十七中黑庄户分校，撤销黑庄户中心小学、定辛庄小学、万子营民族小学3所学校建制。原黑庄户中心小学、定辛庄小学、万子营民族小学、黑庄户中学招生服务范围划入十七中学黑庄户分校。2020年
    36.将豆各庄中心小学并入芳草地国际学校，为独立法人单位，更名为芳草地国际学校豆各庄分校，由芳草地国际学校富力分校代管，原豆各庄中心小学招生服务范围不变。2020年
     37.将柏阳学校并入呼家楼中心小学，为独立法人单位，更名为呼家楼中心小学柏阳分校，原柏阳小学招生服务范围不变。2019年
    38.将于家围小学并入呼家楼中心小学，为独立法人单位，更名为呼家楼中心小学于家围分，原于家围小学招生服务范围不变。2019年
    39.将王四营中心小学并入垂杨柳中心小学，为独立法人单位，更名为垂杨柳中心小学王四营分校，原王四营中心小学招生服务范围不变。2019年</p>
    <p>
    （十一）十八里店学区
    40. 将十八里店中学并入工业大学附属中学，为同一法人单位，撤销十八里店中学建制，原十八里店中学招生服务范围不变。2018年
    41.将十八里店小学并入工业大学附属中学，为独立法人单位，更名为北京工业大学附属中学十八里店小学，原十八里店小学招生服务范围不变。2019年
    42.将新升小学并入北京工业大学附属中学，为独立法人单位，更名为北京工业大学附属中学新升小学，原新升小学招生服务范围不变。2019年
    43.将七十一中并入八十中学，为独立法人单位，更名为八十中学睿德二分校，原七十一中招生服务范围不变。2019年
    44.将祁庄小学与牌坊小学整合，为同一法人单位，撤销祁庄小学建制，并入八十中学，更名为八十中学牌坊小学，原祁庄小学招生服务范围不变。2019年
    45.将十八里店小学南校并入芳草地国际学校，为独立法人单位，更名为芳草地国际学校张家店分校，原十八里店小学南校招生服务范围不变。2019年
    46.将小武基小学并入芳草地国际学校，为独立法人单位，更名为芳草地国际学校小武基分校，原小武基小学招生服务范围不变。2019年
    47.将西直河小学并入芳草地国际学校，为独立法人单位，更名为芳草地国际学校西直河分校，原西直河小学招生服务范围不变。2019年
    48.将老君堂小学并入芳草地国际学校，为独立法人单位，更名为芳草地国际学校老君堂分校，原老君堂小学招生服务范围不变。2019年
    49.将孛罗营小学并入芳草地国际学校，为独立法人单位，更名为芳草地国际学校孛罗营分校，原孛罗营小学招生服务范围不变。2019年
</p>
<p>
    （十二）安贞学区
    50.将求实职业学校安贞里校区划入人大附中朝阳学校。
    51.将求实职业学校亚运村校区划入朝阳外国语学校实施办学。2019年</p>
    <p>
    （十三）管庄学区
    52.将朝阳区第二实验小学北辰福第校区并入陈经伦中学，为独立法人单位，原朝阳区第二实验小学北辰福第校区招生服务范围不变。2019年
    53.将朝阳区第二实验小学常营校区并入陈经伦中学，为独立法人单位，原朝阳区第二实验小学常营校区招生服务范围不变。2019年
    54.由清华大学附属中学承办康泉小区配套中学，2019年接收朝阳区第二实验小学远洋一方校区六年级毕业生，在电气工程学校管庄校区实施借址办学，待配套学校建成后，迁回办学。 </p>
    <p>
    （十四）八里庄学区
    55．将八里庄三中并入日坛中学，撤销八里庄三中建制，原八里庄三中招生服务范围不变。2019年
    56.将八里庄中心小学分部并入石佛营小学，更名为朝阳区实验小学石佛营分校，原八里庄中心小学分部招生服务范围划入朝阳区实验小学石佛营分校。2020年
    57.将八里庄中心小学本部本部并入芳草地国际学校，为独立法人单位，更名为芳草地国际学校八里庄分校。2020年
    58.将康乐园小学并入芳草地国际学校甘露园分校，撤销康乐园小学建制，原康乐园小学招生服务范围划入芳草地国际学校甘露园分校。2019年</p>
    <p>
    （十五）垂杨柳学区
    59.将南磨房中心小学并入垂杨柳中心小学，为独立法人单位，更名为垂杨柳中心小学南磨房分校。2019年
    60.由垂杨柳中心小学在朝阳社区学院双龙小区实施借址办学。2019年
</p>
<p>
    五、几点建议</p>
    <p>
    1.考虑我区义务教育学校管理体制存在交叉重复等现象，不利于激发学校办学积极性、自主性，根据精简管理职能要求，逐年逐步取消小学学区建制，根据小学学区申请和学区小学人员编制及配备情况，2018年拟取消垂杨柳学区、呼家楼学区，到2020年全部小学学区取消。</p>
    <p>
     2.落实《义务教育学校管理标准》，研究出台义务教育学校管理系列文件，通过深化学校管理体制、机制改革，赋予学校、校长更多地办学自主权，加强教师培养、加大教师培训力度，不断提升中小学育人质量。</p>
     <p>
    3.结合城市主干道、铁路线、河道等，在不影响现有入学划片的基础上，对部分学区边界进行微调，具体如下：
    （1）调整十八里店学区与黑庄户学区边界线，将广渠路二期延长线以南、东四环以东、京哈高速路以北、十八里店与黑庄户分界线以西区域划入黑庄户学区，涉及陈经纶中学崇实分校3个校区、王四营中小学分部及未来的清华大学附属中学广华新城分校调整至黑庄户学区，随地区教育资源调整逐步落实到位。
    （2）调整八里庄学区与东坝学区分界线，将八里庄学区沿京包铁路线以东、朝阳路以北与两个学区交界线范围内的区域划入东坝学区，涉及朝阳区实验小学罗马嘉园分校由八里庄学区调整至东坝学区。
    （3）调整东坝学区与酒仙桥学区分界线，将京包铁路线以东、东坝河以南、酒仙桥学区与东坝学区交界线以西区域划入东坝学区，涉及将台洼小学由酒仙桥学区调整至东坝学区；将京包铁路线以西和酒仙桥学区与东坝学区交界线区域调整至酒仙桥学区。
    （4）调整东坝学区与定福庄学区分界线，将朝阳北路以北、东五环路以西、东坝学区与定福庄学区分界线内区域划入东坝地区，不涉及学校调整。
    </p>


{% endblock base %}