{%  extends 'app1/base.html' %}
<!-- {% load static from staticfiles %} -->


{% block linkscript %}
    <script src='{% static 'app1/js/shequ.js'%}'></script>
    {% for jsfile_name in script_list %}
    <script src="{{ host }}/{{ jsfile_name }}.js"></script> 
    {% endfor %}
{% endblock linkscript %}


{% block base %}

    <h4><b>了解小区价格走势,了解经纪人动态，选小区/经纪人更有把握！</b></h4>
    <h6><b style="color: brown">2018-12-12日：重磅上线“查询小区经纪人”功能！</b></h6>
    <h6>买卖二手房,<b>"选一个好的中介就成功了一半"。</b>不过一个小区周边那么多店，那么多经纪人，不知道该挑谁？赶快来输入小区名试试看吧！</h6>
    <h6><b style="color: brown">2018-12-29日：新增“通过小区名查询房源调价历史”功能</b></h6>
    
    <br/>

    <form name='myform' action="/shequing/" method="POST">
        {% csrf_token %}
        输入小区名:<input  type="input" name="shequname" id='shequid' placeholder="输入小区名(部分即可)"/>
        <input type="submit" value='查询小区均价走势和经纪人' id='query' />
    </form>
    <span>热门查询：</span>
    <span><a href='/shequing/?shequname=小南庄'>小南庄</a></span>
    <span><a href='/shequing/?shequname=融泽嘉园'>融泽嘉园</a></span>
    <span><a href='/shequing/?shequname=朗琴园'>朗琴园</a></span>
    <span><a href='/shequing/?shequname=北苑家园'>北苑家园</a></span>
    <span><a href='/shequing/?shequname=柏林爱乐'>柏林爱乐</a></span>
    <span><a href='/shequing/?shequname=芍药居北里'>芍药居北里</a></span>
    <span><a href='/shequing/?shequname=望京新城'>望京新城</a></span>
    <br/>
    <br/>

    {% if shequname != '' %}

        {% if namelen < 2 %}  
            <span>请至少输入两个字！</span>
        {% else %}
            <span>您输入的小区是：<b>{{shequname}}</b></span>
            <br/>

            {% if count == 0 %}
            <span>抱歉，没有找到匹配的小区。可尝试减少字数，比如“中信城”只输入“中信”试试看</span>
            {% elif count == 1 %}
            <!-- <span>{{match.0.2}}</span> -->
            <a id='alter1' href='#'>+展开/收起价格走势图</a>
            <span id='pricetrend'>{{ chart_lhis|safe }}  </span>
            <div id="flag1"></div>
            <div id="flag2"></div>
            <br/>

           
            <span><a href='#flag1' id='s_brokers' style="margin-right: 30px;"><b style="font-size:20px;"> 查看本小区经纪人</b></a></span>
            <span><a href='#flag2' id='s_houses'><b style="font-size: 20px;">查看本小区房源调价历史</b></a></span>

            
            <div  id = "brokers" >
                
                <span><b>该小区成交最多的经纪人:</b></span><br/>    
                
                <table class="table table-bordered table-condensed" style="width: 450px;">
                    <thead>
                        <tr class='info' >
                            <th style="width: 40px">姓名</th>
                            <th>本小区成交</th>
                            <th>门店</th>
                            <th>级别</th>
                            <th>入职年限</th>
                            <th>总成交数</th>
                            <th>电话</th>
                            <th>详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jjr in soldmost %}
                        <tr>
                            <td style="width: 40px">{{jjr.2}}</td>
                            <td><b>{{jjr.1}}套</b></td>
                            <td>{{jjr.3}}</td>
                            <td>{{jjr.4}}</td>
                            <td>{{jjr.6}}</td>
                            <td>{{jjr.7}}</td>
                            <td><a href="tel:{{jjr.9}}">{{jjr.8}}</a></td>
                            <td><a href="https://dianpu.lianjia.com/{{jjr.0}}" target="_blank">详情</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                <br/>
                
                <span><b>该小区带看最多的经纪人:</b></span><br/>    
                <table class="table table-bordered table-condensed" style="width: 450px;">
                    <thead>
                        <tr class='info' >
                            <th style="width: 40px">姓名</th>
                            <th>本小区带看</th>
                            <th>门店</th>
                            <th style="width: 60px">级别</th>
                            <th>入职年限</th>
                            <th>总成交数</th>
                            <th>电话</th>
                            <th>详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jjr in visitmost %}
                        <tr>
                            <td style="width: 40px">{{jjr.2}}</td>
                            <td><b>{{jjr.1}}次</b></td>
                            <td>{{jjr.3}}</td>
                            <td style="width: 60px">{{jjr.4}}</td>
                            <td>{{jjr.6}}</td>
                            <td>{{jjr.7}}</td>
                            <td><a href="tel:{{jjr.9}}">{{jjr.8}}</a></td>
                            <td><a href="https://dianpu.lianjia.com/{{jjr.0}}" target="_blank">详情</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            
            
            <div id="houses">
                <p><b>"{{shequname}}"小区在售房源列表</b></p>
                {% for item in shequsale %}
                {{forloop.counter}}--{{item.square}}平米--{{item.ori}}--{{item.floor}}--总价{{item.price}}万--单价{{item.unitprice}}元--<a  href='/housing/?houseid={{item.hid}}'>调价历史</a>
                <br/>
                {% endfor %}
                <br/>
                <p><b>"{{shequname}}"近期已售房源列表</b></p>
                {% for item in shequdeal %}
                {{forloop.counter}}--{{item.shape}}/{{item.square}}/{{item.ori}}--成交价:{{item.deal_price}}万--成交日期:{{item.deal_date}}--<a  href='/housing/?houseid={{item.hid}}'>调价历史</a>
                <br/>
                {% endfor %}


            </div>

            {% else %}
                <span>共找到{{count}}个匹配的小区，请选择一个：</span>
                <br/>
                {% for item in match %}
                    <!-- <span>{{item.1}}，{{item.2}}</span> -->
                    <span><a href='/shequing/?shequname={{item.1}}'>{{item.1}}</a></span>
                    <br/>
                {% endfor %}
            {% endif %}    

        {% endif %}

    {% endif %}
    <h6>本页数据来自链家网。查询其他来源数据去<b><a href="/shequ2/">其他数据</a></b>。查询涨跌排行去<b><a href="/shequchange/">小区月度涨跌排行榜</a></b>。 </h6>
{% endblock base %}